VITE_SUPABASE_URL=https://kcjepoaksgbrhqytkjrw.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtjamVwb2Frc2dicmhxeXRranJ3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkyNDcwODQsImV4cCI6MjA5NDgyMzA4NH0.3-DmlZefQDqu14eLv0nWAgWRPClnZa-Gm9O0a-2e6g4
